.button {
  font-family: var(--font-family-work);
  font-weight: 600;
  line-height: 140%;
  text-align: center;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 12px;
  border-radius: 20px;
  transition: var(--transition-scale);

  &:hover {
    transform: var(--transform-scale);
  }
}

.primary {
  background-color: var(--color-purple);
}

.secondary {
  background-color: transparent;
  border: 2px solid var(--color-purple);
}

.xl {
  font-size: var(--fz-h5);
  padding: 20.5px 50px;
}

.lg {
  font-size: var(--fz-body);
  padding: 19px 50px;
}

.md {
  font-size: var(--fz-body);
  padding: 12px 50px;
}

.icon {
  width: 20px;
  height: 20px;
}

.primary-i {
  fill: #fff;
}

.secondary-i {
  fill: var(--color-purple);
}