.header {
  padding: 20px 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
  }

  &__logo {
    display: flex;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
  }
}

.nav {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin: 0;

  &-list {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }

  &-item {
    padding: 0 20px;
    cursor: pointer;
    transition: var(--transition-scale);

    &:hover {
      transform: var(--transform-scale);
    }
  }

  &-link {
    font-family: var(--font-family-work);
    font-style: var(--fz-body);
    font-weight: 600;
    text-transform: none;
  }
}

.nav-bar {
  display: none;
}

button.sign-up {
  padding-left: 30px;
  padding-right: 30px;
}

.icon {
  fill: var(--color-purple);
}

@media (max-width: 1280px) {
  .nav {
    display: none;
  }

  .nav-bar {
    position: relative;
    display: flex;

    &__icon {
      cursor: pointer;
    }

    &__list {
      display: none;
      position: absolute;
      top: 50px;
      right: 0;
      z-index: 10;
      flex-direction: column;
      row-gap: 15px;
      width: max-content;
      padding: 20px;
      border-radius: 20px;
      background: var(--gradient-warm);
    }
  }
}

.active {
  display: flex;
}

@media (max-width: 480px) {
  .header__logo {

    h5 {
      display: none;
    }
  }
}

@media (max-width: 375px) {

  .header__container {
    margin: 0 35px;
  }
}